# BUILD file for {{ project_name }}
@load(@maven_rules//maven:rules.bzl", "maven_jar")
# Example target:
# java_library(
#     name = "{{ project_name }}",
#     srcs = glob(["src/main/{{ language }}/**/*.{{ language_ext }}"]),
#     deps = [],
# )