plugins {
    id 'java'
}

group 'com.example'
version '0.1.0'

sourceCompatibility = '11'

repositories {
    mavenCentral()
}

dependencies {
    testImplementation 'org.junit.jupiter:junit-jupiter:5.8.2'
    testImplementation 'io.kotest:kotest-runner-junit5:5.0.0'
    testImplementation 'org.spockframework:spock-core:2.1-groovy-3.0'
}

test {
    useJUnitPlatform()
}